$theme-colors: (
        "primary": #7B61FF,
        "danger": #ff4136,
        "background": #F5F5F5,
        "hovered": #DFDFDF,
        "text-muted": #6C757D,
        "text-warning": #DC3545,
        "primary-transparent": rgba(123, 97, 255, 0.25),
        "primary-transparent-darker": rgba(123, 97, 255, 0.5),
);

$opacities: (
        "low": 0.75,
        "medium": 0.5,
        "high": 0.25
);

$text-colors: (
        "text-muted": #6C757D,
        "text-warning": #DC3545
);

@function text-color($key) {
  @return map-get($text-colors, $key)
};

@function theme-color($key) {
  @return map-get($theme-colors, $key)
};

@function get-opacity($key) {
  @return map-get($opacities, $key)
};

@import "~bootstrap/scss/bootstrap";
