.wrapper {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}
#outer_wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  overflow: hidden;
}
#navbar {
  height: 89px;
  flex: 0 0 56px;
  padding: 0px;
}

#content {
  /* background-color: blue; */
  flex-grow: 1;
}
